@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: rgb(67, 141, 141);
  color: white;
  font-family: 'Noto Serif', serif;
}

h1 {
  font-size: 100px;
}

div.card {
  /* position: "absolute" (on se libère du layout classique) */
  position: absolute;
}

div.card>div{
  width: 200px;
  height: 200px;

  background-color: white;
  font-size: 120px;
  border-radius: 4px;

  /* centrer le contenu: */
  display: flex;
  justify-content: center;
  align-items: center;

  /* ombre portée */
  box-shadow: #0000008a 0px 8px 40px;
  user-select: none;
  cursor: pointer;
}

div.card > div:hover{
  transform: scale(110%);
}

div.card.gold > div {
  background-color:goldenrod;
  border : solid goldenrod 2px;
}

